@model Hospital.Models.Nurse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nurse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nrs_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nrs_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nrs_Wo_Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nrs_Wo_Shift)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Nrs_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
